body {
   background-color: rgb(120, 120, 164);
   display:flex;
   justify-content:center;
}


header {
    background-color: rgb(120, 120, 164);
    height: 100px;
    color:white;
    display: flex;
    justify-content: center;
    align-items:flex-end
    
}

h1 {
     font-size: 50px;

}

#countdown {
    position: absolute;
    padding-left: 900px;
    padding-top:25px;
}

#highscore {
    position:absolute;
    padding-right: 1050px;
    padding-top:25px;
}
#btnStart {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     margin-bottom:50px;
     
}
.button {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content:space-around;
     height: 700px;
     margin-bottom: 125px;
     font-size: 30px;
    

}
.questions {
    background-color:rgb(89, 146, 146);
    display: flex;
    flex-direction: column;
    border:solid 2px black;
    border-radius:20px;
    width:500px;
    height:600px;
    justify-content:end;
    color:white;
   
}

P { 
   font-size:30px;
   color: white;
   
   padding: 50px;
}


button {
    color:white;
    background-color:rgb(63, 111, 111);
    height: 50px;
    width:300px;
    font-size: 35px;
    border-radius: 20px;  
    border: solid 2px black;
    margin: 5px;
}

.btnAnswer:hover{
    height:60px;
    width: 310px;
}

.btnAnswer:active, .next:active, #btnStart:active{
    background-color: rgb(54, 95, 95);
}

.view:hover {
    font-size: 30px;
}

#btnStart:hover {
    height:60px;
    width: 310px
}

.next:hover{
    height:60px;
    width:310px
}

