body {
   background-color: rgb(120, 120, 164);
}


header {
    background-color: rgb(120, 120, 164);
    height: 100px;
    color:white;
    display: flex;
    justify-content: center;
    
}

h1 {
     font-size: 50px;

}

.time{
    position: absolute;
    padding-left: 900px;
    padding-top:25px;
}

.highscore {
    position:absolute;
    padding-right: 1050px;
    padding-top:25px;
}

.button {
     /*background-color:rgb(120, 120, 164);*/
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content:space-around;
     height: 300px;
    

}
.question {
    background-color:rgb(89, 146, 146);
    display: flex;
    flex-direction: column;
    border:solid 2px black;
    border-radius:20px;
}

P { 
   font-size:30px;
   color: white;
   position: relative;
   padding-left: 650px;
}


button{
    color:white;
    background-color:rgb(63, 111, 111);
    height: 50px;
    width:200px;
    font-size: 35px;
    border-radius: 20px;  
    border: solid 2px black;
}

.a:hover{
    height:60px;
    width: 210px;
}

.a:active{
    background-color: rgb(54, 95, 95);
}